:root {
  --white-background-theme: #fff;
  --white-three: #e8e8e8;
  --blue-theme: #0290ff;
  --nav-menu-theme: #121212;
  --background-color-theme: #fafafa;
}

/* font */
.font-loader {
  font-family: 'Montserrat', sans-serif;
}

/* app */
.App {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-background-theme);
  padding: 16px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-theme);
}

.user-icon {
  margin: 0;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  width: 3.688rem;
  height: 1rem;
}

.nav-menu li {
  margin-left: 16px;
}

.nav-menu li:first-child {
  margin-left: 0;
}

.nav-menu a {
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--nav-menu-theme);
}

.nav-menu a:hover {
  text-decoration: none;
}

.person-icon {
  align-items: center;
}

.oval {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px var(--white-three);
}

.mask {
  position: absolute;
  width: 1.063rem;
  height: 1.063rem;
  border-radius: 50%;
  background-image: url("../public/person-icon.png");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* nav menu END */

/* main container */

.container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  background-color: var(--background-color-theme);
}

/* card */

.book-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.books {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
}

.book-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 10.625rem;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border: solid 1px var(--white-three);
  background-color: var(--white-background-theme);
}

.book-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.book-title {
  flex-grow: 1;
  text-align: left;
  margin-right: 12px;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-right: 92px;
}

.author {
  color: var(--color-black);
  align-items: center;
  margin-right: 12px;
}

.category {
  color: var(--color-black);
  align-items: center;
  margin-right: 12px;
}

.add-btn {
  color: var(--white-theme);
}

.remove-btn {
  background-color: rgb(194, 190, 190);
  color: var(--white-background-theme);
}
